In [17]:
import requests

In [18]:
token = 'JCTpIaowJgARd1GXnU4TaUVavirSMWdWDsiDHunqzqq'

In [19]:
url = 'https://notify-api.line.me/api/notify'
headers = {'Content-Type': 'application/x-www-form-urlencoded',
          'Authorization': 'Bearer ' + token}
msg = "Hello World"
req = requests.post(url, headers=headers, data= {'stickerPackageId': 4, 'stickerId':274, 'message':msg})
print(req)

<Response [200]>

In [20]:
import requests
import bs4
from bs4 import BeautifulSoup
import json
import pandas as pd

In [21]:
url='https://status.cloud.google.com/'

In [22]:
request = requests.get(url)

In [23]:
request

In [24]:
soup = bs4.BeautifulSoup(request.text)

In [25]:
data = soup.find('table',{'class':'j2GwVIZkdLB__regional-table'})

In [26]:
region = data.find('thead',{'class':'j2GwVIZkdLB__header'})

In [27]:
region = region.text.split(')')

In [28]:
region

['  Products  Americas (regions',
 'Europe (regions',
 'Asia Pacific (regions',
 'Middle East (regions',
 'Africa (regions',
 'Multi-regionsGlobal ']

In [29]:
datatr = data.find_all('tr')

In [31]:
product_list = []
status_product = []

In [32]:
for i in range(len(datatr)-1):
    product_name = datatr[i].find('th',{'class':'j2GwVIZkdLB__product'}).text
    product_list.append(product_name)
    #print(product_name)
    
    status_list = []
    for j in range(0,7):
        status_warning = datatr[i].find_all(['td'])[j].find_all('svg',{'class':'psd__status-icon psd__warning'})
        status_information = datatr[i].find_all(['td'])[j].find_all('svg',{'class':'psd__status-icon psd__information'})
        status_available = datatr[i].find_all(['td'])[j].find_all('svg',{'class':'psd__status-icon psd__available'})
        
        if status_warning == [] and status_information == [] and status_available != []:
            status = 'available'
        elif status_warning == [] and status_information != [] and status_available == []:
            status = 'information'
        elif status_warning != [] and status_information == [] and status_available == []:
            status = 'warning'
        else:
            status = 'none' 
        
        status_list.append(status)   
    status_product.append(status_list)

In [33]:
df_product = pd.DataFrame([product_list]).transpose()

In [34]:
df_status = pd.DataFrame(status_product, columns = ['Americas','Europe','Asia_Pacific','Middle_East','Africa','Multi_regions','Global'])

In [35]:
df_status

,Americas,Europe,Asia_Pacific,Middle_East,Africa,Multi_regions,Global
0,none,none,none,none,none,none,available
1,available,available,available,none,none,none,available
2,none,none,none,none,none,none,available
3,available,available,available,none,none,none,available
4,available,available,available,none,none,none,available
...,...,...,...,...,...,...,...
164,available,available,available,none,none,none,none
165,available,available,available,none,none,none,none
166,available,available,available,available,available,none,available
167,available,available,available,available,none,none,none
168,none,none,none,none,none,none,available

In [36]:
df_product.columns = ['Product_Service']

In [37]:
df_status[['Product_Service']] = df_product[['Product_Service']]

In [38]:
df_status.columns

Index(['Americas', 'Europe', 'Asia_Pacific', 'Middle_East', 'Africa',
       'Multi_regions', 'Global', 'Product_Service'],
      dtype='object')

In [39]:
df_status = df_status[['Product_Service','Americas', 'Europe', 'Asia_Pacific', 'Middle_East', 'Africa',
       'Multi_regions', 'Global']]

In [40]:
df_status

,Product_Service,Americas,Europe,Asia_Pacific,Middle_East,Africa,Multi_regions,Global
0,Access Approval,none,none,none,none,none,none,available
1,Access Context Manager,available,available,available,none,none,none,available
2,Access Transparency,none,none,none,none,none,none,available
3,Agent Assist,available,available,available,none,none,none,available
4,AI Platform Prediction,available,available,available,none,none,none,available
...,...,...,...,...,...,...,...,...
164,Vertex AI Workbench User Managed Notebooks,available,available,available,none,none,none,none
165,Video Intelligence API,available,available,available,none,none,none,none
166,Virtual Private Cloud (VPC),available,available,available,available,available,none,available
167,VMWare engine,available,available,available,available,none,none,none
168,VPC Service Controls,none,none,none,none,none,none,available

In [41]:
serviceName = df_status['Product_Service'][2]

In [42]:
serviceName

'Access Transparency'

In [43]:
#เขียน Python ติดต่อฐานข้อมูล SSMS
!pip install pyodbc
#import library
import pyodbc

Requirement already satisfied: pyodbc in c:\users\oerp-nbe7470-04\anaconda3\lib\site-packages (4.0.34)

In [44]:
#Create a connection to database

try:
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=DESKTOP-01EVDPJ\SQLEXPRESS;'
                          'Trusted_Connection=yes;'
                         'autocommit=True;')
except pyodbc.Error as e:
    print("Error: Could not make connection to database")

In [45]:
#Close connection
#get new cursor
try:
    conn.close()
except pyodbc.Error as e:
    print('Error: cannot close  connection')
    
#Re-connection and add database name
try:
    conn = pyodbc.connect('Driver={SQL Server};'
                          'Server=DESKTOP-01EVDPJ\SQLEXPRESS;'
                          'Trusted_Connection=yes;'
                          'Database=tb_google_cloud_status;'
                         'autocommit=True;')
except pyodbc.Error as e:
    print('Error: Could not make connection to database')
   

try:
    cursor = conn.cursor()
except pyodbc.Error as e:
    print('Error')

In [46]:
try:
    cursor.execute('''
                INSERT INTO tb_google_cloud_status.dbo.tb_google_cloud_status (id,service_name, created_date, modified_date, message)\
                VALUES(?,?,?,?,?)\
                ''',\
                2,serviceName, 0, 0, 'Python'
                )
except pyodbc.Error as e:
    print(e)
conn.commit()

In [95]:
#Verify the insert seccess

try:
    cursor.execute('''
    SELECT * FROM tb_google_cloud_status.dbo.tb_google_cloud_status;
        ''')
except pyodbc.Error as e:
    print(e)


    #ฟังก์ชั่น fetchall() เป็นฟังก์ชั่นที่ใช้สำหรับดึงเอาข้อมูลของ Database มาแสดง
    #เรียกข้อมูลของเรามาทั้งหมดที่มีอยู่ในฐานข้อมูล
row = cursor.fetchone()
while row:
    print(row)
    print(len(row))
    row = cursor.fetchone()
conn.commit()

(1, 'Access Approval', datetime.datetime(1900, 1, 1, 0, 0), datetime.datetime(1900, 1, 1, 0, 0), 'Python')
5
(2, 'Access Transparency', datetime.datetime(1900, 1, 1, 0, 0), datetime.datetime(1900, 1, 1, 0, 0), 'Python')
5